<main class="index">
     <header class="masthead d-flex"> 
        <div class="container text-center my-auto">
            <p class="titulo">LOS ROSALES</p>
            <h3 class="mb-5">
                <p class="titu2">Quesos  - Fiambres - Dulces - Snack</p>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Ingresar
            </a>
            
        </div>
        <div class="overlay"></div>
    </header> 
</main>